#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*v11.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.log.*
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
ClientBin
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.rdl.data
.vs/
.vscode/
publish/

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Rider
.idea/

#Project files
[Bb]uild/

#Subversion files
.svn

/dist
/tmp

# dependencies
/node_modules
/bower_components
package-lock.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl
*.jfm

#Test files
*.testsettings
